root { 
    display: block;
}

body {
    font-size: small;
    background-color: #152D35;
    font-family: "Space Mono", monospace;
    color: #66fcf1;
    text-align: center;
}

a {
    color: #66fcf1;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #112031;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #14279B;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #14279B;
    border-bottom-color: #14279B;
    border-left-color: #14279B;
    border-right-color: #14279B;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #5C7AEA;
    color: #112031;
}


tr.jsfcrud_even_row {
    background-color: #3D56B2;
    color: #112031;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
